* { margin:0;}
body { background:url(i/bg.jpg); }
h2 { font-weight:100; text-shadow:#ffffff 1px 1px 0px; text-align:center; padding:20px; font-size:32px;  color:#555555; border-bottom:1px dashed #ccc; margin-bottom:30px;  font-family: Georgia, "Times New Roman", Times, serif ;  }

#weapons {
    list-style:none;
}

#weapons li {
    float:left;
    display:block;
    border:1px solid #ffffff;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:15px;
    -webkit-box-shadow:1px 1px 6px #ddd;
    -moz-box-shadow:1px 1px 6px #ddd;
    box-shadow:1px 1px 6px #ddd;
    margin: 5px 5;
    padding:0;
}

input[type="checkbox"]:checked + li {
    background-color: #e1eec8;
}

#weapons img {
    width: 100px;
    height: 100px;
    margin:0;
    padding:0;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + li label img {
    opacity:0.5;
    filter:grayscale(100)
  }
  input[type="checkbox"]:checked + li label img {
    opacity:1;
    filter:grayscale(0)
}

